<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB3TvFHA-OlvpWLKbwtAHiczibzel--r0s</string>
	<key>GCM_SENDER_ID</key>
	<string>909862930088</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ayushmalpani6.HiFolio</string>
	<key>PROJECT_ID</key>
	<string>hifolioauthentication</string>
	<key>STORAGE_BUCKET</key>
	<string>hifolioauthentication.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:909862930088:ios:e6e19acd82cc0dc963249d</string>
</dict>
</plist>